{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class ="landing-body">
  <div class="landing-container">
    <a href={% url 'dashboard' %}>
      <img class="landing-img" src="{% static 'img/logo.png' %}" title="Agile Inventory Manager" alt="Agile Inventory Manager Logo">
    </a>
  {% if signedup %}
    <h1> You have been signed up, please login </h1>
  {% endif %}
  {% if failed %}
    <h1> Incorrect login details, please try again </h1>
  {% endif %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
</div>
{% endblock %}
