@keyframes flash {
    0% { background-color: yellow; }
    50% { background-color: yellow; }
    100% { background-color: transparent; }
}

.flash-yellow {
    animation: flash 1s ease-out forwards;
}

.header-banner {
    display: flex;
    background-color: #fcd253;
    align-items: stretch; /* Ensure children stretch to full height */
    padding: 0 0.4em;
}

.header-img {
    width: 8em; 
    height: 100%; 
    object-fit: contain;
}

.user-controls {
    display: flex;
    margin-left: auto;
    align-items: center; 
}

.user-welcome {
    display: flex;
    align-items: center;
    margin-right: 1em;
}

.logout {
    display: flex;
    align-items: center;
    background-color: aqua;
    padding: 0 1em; 
    text-decoration: none;
    color: black;
    height: 100%; 
}

.sub-header {
    background-color: #f2efc4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    display: flex;
    justify-content: center;
    padding: 0;
}

.sub-hero {
    font-family:cursive;
    margin-top:auto;
}
/* Hides sub-hero if on mobile */
@media screen and (max-width: 600px) {
    .sub-hero {
      display: none;
    }
  }
  

.landing-body {
    background-color:#fcd253;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;

}

.landing-container{
    margin-top: 4em;
    background-color:#f2efc4;
    width: 600px;
    padding: 20px; 
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}
@media screen and (max-width: 800px){
    .landing-container{
        width: 100%;
        height:100%;
        border-radius: 0;
    }
}

.landing-img {
    width: 10em; 
    height: 100%; 
    object-fit: contain;
    padding-left:2.5em; /* Compensates for the fact the letters arent centered in the image (due to the arrow) */

}

.condensed-font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.landing-button {
    display: block; /* makes <a> behave like a div */
    background-color: whitesmoke;
    border-radius: 2em;
    margin-top: 0.5em;
    width: 50%;
    margin-left: 25%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none; /* No ugly underline */
    color: black;
}

.dash {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-wiz {
    background-color:lightyellow;
    margin-top:2em;
    padding:1em;
    border-radius:1em;

}

#ticket-form {
    display:flex;
    gap: 10px;
}


.ticket-list {
    flex: 0 0 32%;
    padding: 10px;
    box-sizing: border-box;
    background-color: lightyellow;
    border: 1px solid #ddd;
    margin-right: 10px;
}

.ticket-list:last-child {
    margin-right: 0;
}

@media screen and (max-width: 500px) {
    .ticket-list {
        min-width: 15em;
    }
    
    .scrollable {
        overflow-x: auto;
        display: flex;
        scroll-snap-type: x mandatory;
        scroll-padding-left: 0;
        padding: 10px 0;
        margin-left: 0; /* Allow full scrolling on mobile */
        margin-right: 0;
        justify-content: flex-start; /* Makes sure the items start at the left- otherwise you can't scroll all the way left on mobile */
    }
}

@media screen and (min-width: 501px) {
    .scrollable {
        overflow-x: auto;
        display: flex;
        scroll-snap-type: x mandatory;
        scroll-padding-left: 1em;
        padding: 20px 0;
        margin: 0 auto;
        max-width: 100%;
        justify-content: center;
        box-sizing: border-box;
    }
}

.ticket-list {
    scroll-snap-align: start;
}

.ticket-item {
    list-style-type: none;
    background-color: lightgray;
    padding-left: 0.7em;
    margin: 0.2em;
    padding-top: 0.01em;
    border-radius: 1em;
    margin-bottom: 0.7em;
}
