{% extends 'base.html' %}
{% block header %}
{% load static %}
<body style="margin: 0; background-color: #fcd253;">
    <div class="header-banner">
        <a href={% url 'dashboard' %}>
        <img class="header-img" src="{% static 'img/logo.png' %}" title="Agile Inventory Manager" alt="Agile Inventory Manager Logo">
        </a>
        <flex class="sub-hero">The Agile Inventory Manager service</flex>
        {% if user.username %}
        <div class="user-controls">
        <div class="user-welcome">
            Welcome, {{user.username}}
        </div>
        {% if user.is_superuser %}
            <a class="user-welcome logout" href={%url 'admin:index'%}>admin</a>
        {% endif %} 
        <a href={% url 'logout'%} class="logout">
            Log out
        </a>
        </div>
        {% endif %}
    </div>
    <noscript>
        <h1> Javascript is disabled in your browser. Website functionality <b>will</b> be broken</h1>
    </noscript>
    {% include 'clear_params.html' %} {% block remove_params %}{% endblock %}
</body>
</html>
{% endblock %}
