<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticketing System</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
{% comment %} Detect if js is disabled and warn the user {% endcomment %}
    {%block header%}
    {%endblock%}
    {% block content %} {% endblock %}
    {% include 'clear_params.html' %} {% block remove_params %}{% endblock %}
</body>
</html>
